<h1>
    <!-- shopify API has multiple objects and properties you can access -->
    {{ shop.name }}
</h1>

<nav {{ 'header.ccs' | assets_url }}>
    <!-- Main menu -->
    {% for link in linklists.main-menu.links -%}
        {{ link.title | link_to: link.url }}
    {%- endfor %}
</nav>
    

