<h1>

    <!-- shopify API has multiple objects and properties you can access -->
    {{ shop.name }}

    <!-- Main menu -->
    {% for link in linklists.main-menu.links -%}
    {{ link.title | link_to: link.url }}
    {%- endfor %}

</h1>