<html>

    <head>
        <!--built-in data for header - SEO and stuff - metadata - stuff usually in the header-->
        {{content_for_header}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        {{ 'style.css' | asset_url | stylesheet_tag }} <!-- 'stylesheet_tag makes it a stylesheet link for the head - global CSS stuff goes here' -->
    </head>

    <body>

        <!--header-->
        {% render 'header' %}

        <!--main content of the page - have it be dynamic -->

        <!--built-in data for layout - SEO and stuff.. -->
        {{content_for_layout}} <!-- looks like this places stuff in templates here when declaring the {% layout 'theme' %} balise at the top of a template! -->  

        <!--footer-->
        {% render 'footer' %}
    </body>

</html>