<html>
    <head>
        {{content_for_header}}
        
    </head>
    <body>

        {% render 'header' %}
        
        {{content_for_layout}}
        <h1>Raccoons</h1>
    </body>
</html>