{% schema %}
{
    "name": "404",
    "settings": [
        
        ]
}
{% endschema %}

<link rel="stylesheet" href="{{ '404.css' | asset_url }}">

<h1>404</h1>
<p>You got lost, what are you doing here?!</p>
<div class="img-container"></div>