{% schema %}
    {
      "name": "about",
      "settings": [
        {
          "type": "text",
          "id": "about_title",
          "label": "About title",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
      ],
      "tag": "section",
      "class": "about-section",
      "limit": 1,
      "blocks": [
        {
          "type": "image",
          "name": "about_image",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "about_image_name",
              "label": "About image name",
              "default": "About image name"
            }, 
            {
              "type": "image_picker",
              "id": "about_image",
              "label": "About image"
            }
          ]
        },
        {
          "type": "textarea",
          "name": "about_description",
          "limit": 1,
          "settings": [
            {
              "type": "textarea",
              "id": "about_description",
              "label": "About description paragraph",
              "default": "About description paragraph"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Default about section",
          "category": "About"
        }
      ]
    }
{% endschema %}

<link rel="stylesheet" href="{{ 'about.css' | asset_url }}">

<div class="about-container">
    <img src="{{ raccoons-bg.jpg |  assets_url }}" alt="{{ block.settings.about_image_name }}">
    <div class="about-text">
        <h2 class="h2">A storied legacy</h2>
        <p>Gallet, a Swiss watch company, has a rich history dating back to 1466, making it one of the oldest timepiece brands in the world. The company's roots trace back to Humbertus Gallet, a Geneva-based clockmaker. Gallet gained prominence in the 19th century under the leadership of Julien Gallet, who expanded the family business internationally. The brand is renowned for its innovations in watchmaking, notably in chronographs. In 1914, Gallet introduced the first wristwatch with a waterproof case and luminescent hands and numbers, a significant advancement for its time. During the early 20th century, Gallet's chronographs were widely used in military and aviation contexts, solidifying their reputation for precision and durability. The company's commitment to innovation continued with the development of the first wristwatch chronograph with multiple time zone capabilities in the 1930s. Throughout its history, Gallet has been recognized for combining functionality with elegant design, making it a respected name in the watchmaking industry.</p>
    </div>
</div>