{% schema %}
    {
      "name": "contact",
      "settings": [
        {
          "type": "textarea",
          "id": "contact",
          "label": "Contact"
        }
      ],
      "tag": "div",
      "class": "contact-section",
      "limit": 1
    }
{% endschema %}

<link rel="stylesheet" href="{{ contact.css |  stylesheet_tag }}">

<div class="contact-main-container">
    <div class="contact-section">
        <h1>Informations contact</h1>
        <button href="#contact-form-page" >Nous contacter</button>
    </div>
    <img src="{{ raccoons-bg.jpg | asset_img_url }}" alt="{{ section.settings.label }}">
</div>