{% schema %}
    {
     "name": "header",
     "settings": [{
              "type": "text",
              "id": "shop_name",
              "label": "Shop Name",
              "default": "RACCOONS"
            }],
     "tag": "header",
     "class": "header-section",
     "limit": 1,
     "blocks": [
        {
          "type": "image",
          "name": "Header",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "backgrounbd_image_name",
              "label": "Background image",
              "default": "Background image"
            },
            {
              "type": "image_picker",
              "id": "background_image",
              "label": "Background image for header"
            }
          ]
        }
     ],
     "presets": [
        {
          "name": "Default Header",
          "category": "Header"
        }
     ]
    }
{% endschema %}
    
<header>
    <link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
    <div class="header-container" style="background-image: url('{{ block.settings.background_image | img_url: '1024x' }}');">
      
    <div class="left-menu">
        <div class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="shop-name">
          {{ section.settings.shop_name }}
        </div>

        <div class="right-menu">
          <button>
            <i class="fa fa-globe"></i>
          </button>
        </div>

     </div>
</header>