{% schema %}
{
    "name": "search",
    "settings": [
        
        ]
}
{% endschema %}

<h1>Search for a product :</h1>

<!-- search form -->
<form action="{{ routes.search_url }}">
  <input type="text"
    placeholder="Search"
    name="q"
    value="{{ search.terms | escape }}"
 >
  <input type="submit" value="Search">
</form>

<!-- search results -->
{% for item in search.results %}
  {% if item = 0 %}
    <h2>No items found in your search</h2>
  {% else %}
    <h2> {{ item.title | link_to: item.url }} </h2>
    <p> {{ item.content | highlight: search.terms }} </p>
  {% endif %}
{% endfor %}