<!-- Collection page -->

<link rel="stylesheet" href="{{ 'collection.css' | asset_url }}">

<div class="main-container">

    <!-- section product -->
    {% section 'collection' %}

</div>
