<!-- Home Page -->

<link rel="stylesheet" href="{{ 'index.css' | asset_url }}">

<div class="main-container">
  
  <!-- titre et sous-titre tout en ahut de la homepage -->
  {% section 'home-title' %}

  <!-- section about 1 -->
  {% section 'about' %}

  <!-- section about 2 -->
  {% section 'about2' %}

  <!-- section explore -->
  {% section 'explore' %}

  <!-- section carousel -->
  {% section 'carousel' %}

  <!-- section contact -->
  {% section 'contact' %}

</div>