{%  schema  %} 
  {
    "name": "index",
    "settings": [
      {}
    ],
    "tag": "section",
    "class": "index-section",
    "limit": 1,
    "blocks": [
      {}
    ]
  }
{% endschema %}

{% section 'header' %}

<link rel="stylesheet" href="{{ 'index.css' | asset_url }}">

<div class="main-container">
  <h1 class="h1">Lorem Ipsum, sic amer doloris (et d'autres trucs en latin) :</h1>

  <h4>sous titre en dessous du grand titre ici</h4>

  {% section 'about' %}

  {% section 'about.inversed' %}

  {% section 'explore' %}

  {% section 'carousel' %}

</div>

{% section 'footer' %}